D:\Git\MKC-for-IP-cams-communication\src\mkc\nbproject
D:\Git\MKC-for-IP-cams-communication\src\mkc\test
D:\Git\MKC-for-IP-cams-communication\src\mkc\build.xml
D:\Git\MKC-for-IP-cams-communication\src\mkc\manifest.mf